.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.lazyloaded {
  opacity: 1;
  transition: opacity 350ms;
  -webkit-transition: opacity 350ms;
}

.gallery {
  margin: 1.5rem 0px;
  margin: 1.5rem 0;
}

.site-header {
  min-height: 80px;
}

#site-navigation {
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: swing;
  transition-timing-function: swing;
}

#main_nav_toggle .menu-close {
  display: none;
}

#main_nav_toggle svg {
  width: 35px;
  height: 35px;
}

.sub-menu li:last-child {
  margin-bottom: 0px;
  margin-bottom: 0;
}

.main-navigation li::before {
  display: none;
}

.sub-menu-toggle {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: -webkit-transform 0.2s linear;
  -webkit-transition: -webkit-transform 0.2s linear;
  background-color: transparent;
  border: 1px solid gray;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 5px;
  opacity: 0.8;
  top: 0;
  right: 0;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  border-radius: 0;
}

@media (min-width: 64em) {
  .sub-menu-toggle {
    border: none;
    width: 12px;
    height: 12px;
    position: relative;
    top: auto;
    right: auto;
    vertical-align: middle;
  }
}

.sub-menu {
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: swing;
  transition-timing-function: swing;
}

@media (min-width: 64em) {
  .site-header {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #site-navigation {
    max-height: 100px;
    transition: 0s;
    -webkit-transition: 0s;
    overflow: visible !important;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }

  .main-navigation .sub-menu {
    max-height: 700px;
    overflow: visible;
    position: absolute;
    top: 94%;
    left: 0px;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 200px;
    padding: 12px 0px;
    margin: 2px 0px 0px;
    text-align: left;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 222, 224);
    background-clip: padding-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: rgba(37, 45, 51, 0.247059) 0px 10px 40px -5px;
    box-shadow: rgba(37, 45, 51, 0.247059) 0px 10px 40px -5px;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translateX(0px) translateY(20px);
    left: 0;
    padding: 12px 0;
    margin: 2px 0 0;
    background-color: #fff;
    border: 1px solid #dcdee0;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 40px -5px rgba(37,45,51,0.25);
    box-shadow: 0 10px 40px -5px rgba(37,45,51,0.25);
    transform: translateX(0px) translateY(20px);
  }

  .main-navigation .sub-menu li {
    display: block;
  }

  .main-navigation .sub-menu a {
    padding: 4px 24px;
    clear: both;
    line-height: 25px;
    white-space: nowrap;
    opacity: 0.8;
  }

  .main-navigation .sub-menu::after,
  .main-navigation .sub-menu::before {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: ' ';
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
  }

  .main-navigation .sub-menu::after {
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgb(255, 255, 255);
    border-width: 10px;
    margin-left: -10px;
  }

  .main-navigation .sub-menu::before {
    border-color: rgba(220, 222, 224, 0) rgba(220, 222, 224, 0) rgb(220, 222, 224);
    border-width: 11px;
    margin-left: -11px;
  }
}

button,
input,
textarea {
  width: auto;
  height: auto;
  padding: 0px;
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  resize: none;
  background-color: transparent;
  background-image: none;
}

textarea {
  overflow: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 3px;
  font-weight: 400;
  color: #3A4145;
  background-color: #e6e6e6;
  -webkit-transition: border-color .2s ease,color .2s ease,background-color .2s ease;
  transition: border-color .2s ease,color .2s ease,background-color .2s ease;
  display: block;
  width: 100%;
  height: auto;
  resize: vertical;
  padding: 0.5rem 0.75rem;
}

.button,
button,
input[type="submit"] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 2.25rem;
  display: -webkit-inline-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  height: 2.25rem;
  padding: 0px 1.6rem;
  border: 1px solid rgb(26, 26, 26);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: 0px;
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 26, 26);
  transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease, padding 0.3s ease;
  -webkit-transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease, padding 0.3s ease;
  cursor: pointer;
  font-size: 16px;
}

form p {
  margin: 1rem 0px;
  margin: 1rem 0;
}

fieldset {
  margin: 1rem 0px;
  padding: 0px;
  border: 0px solid transparent;
  margin: 1rem 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input,
textarea {
  outline: 0px;
}

textarea {
  border: 1px solid rgb(230, 230, 230);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-weight: 400;
  color: rgb(58, 65, 69);
  background-color: rgb(230, 230, 230);
  transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;
  -webkit-transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;
  display: block;
  width: 100%;
  height: auto;
  resize: vertical;
  padding: 0.5rem 0.75rem;
  overflow: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 3px;
  color: #3A4145;
  background-color: #e6e6e6;
  -webkit-transition: border-color .2s ease,color .2s ease,background-color .2s ease;
  transition: border-color .2s ease,color .2s ease,background-color .2s ease;
}

.widgets {
  font-size: 0.9rem;
}

.textwidget p {
  margin: 1rem 0px;
  margin: 1rem 0;
}

.widgets ul {
  padding-left: 1.5em;
}

.widgets ul li {
  margin-bottom: 0px;
  margin-bottom: 0;
}

.clearfix::after {
  clear: both;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: white;
}

* {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

html,
body,
p,
ul,
li,
fieldset,
h1,
h3 {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
}

img {
  max-width: 100%;
}

svg {
  fill: currentColor;
}

h1,
h3 {
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  margin-top: 2rem;
}

.h2 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

h3 {
  font-size: 2rem;
}

small {
  font-size: 0.875rem;
}

p,
ul {
  margin: 1.5rem 0px;
}

html {
  background-color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: rgb(58, 65, 69);
  background-color: white;
  color: #3A4145;
}

a {
  text-decoration: none;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  cursor: pointer;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}



ul li {
  margin: 0.4em 0px;
  font-weight: 500;
}

ul {
  padding-left: 2rem;
}

ul ul {
  margin: 0px;
}

del {
  opacity: 0.5;
}

.header-menu {
  min-height: 60px;
}

.edd_price_options {
  font-size: 1em;
}

.edd_price_options ul {
  list-style-type: none;
  padding-left: 0px;
  line-height: 1.2;
  margin-bottom: 1.7rem;
  padding-left: 0;
}

.edd_price_options input {
  width: 15px;
  height: 15px;
}

.edd_price_options p {
  margin: 0px 0px 1rem;
  font-size: 90%;
  font-style: italic;
  margin: 0 0 1rem 0;
}

.edd_price_options label {
  display: -webkit-box;
  -webkit-box-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.edd-cart-added-alert svg.edd-icon {
  width: 16px;
  height: 16px;
}

.edd-cart-ajax-alert {
  padding-top: 5px;
}

.minimall-tabs {
  list-style-type: none;
  max-width: 100%;
  padding: 0px 0px 0px 1.5rem;
  position: relative;
  padding: 0 0 0 1.5rem;
}

.minimall-tabs::before {
  position: absolute;
  content: ' ';
  width: 100%;
  bottom: 0px;
  left: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(211, 206, 210);
  z-index: 1;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #d3ced2;
}

.minimall-tabs li {
  background-color: rgb(245, 245, 245);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0px;
  border: 1px solid rgb(211, 206, 210);
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 0px -1px;
  background-color: #f5f5f5;
  border-radius: 0;
  padding: 0;
  border: 1px solid #d3ced2;
  margin: 0 -1px;
}

.minimall-tabs li:first-child a,
.minimall-tabs li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-radius: 4px 0 0 0;
}

.minimall-tabs li:last-child a,
.minimall-tabs li:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-radius: 0 4px 0 0;
}

.minimall-tabs a {
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.minimall-tabs li a.active {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
  background: #fff;
  border-bottom-color: #fff;
}

.minimall-tabs li a.active::after {
  content: ' ';
  height: 2px;
  width: 100%;
  bottom: -2px;
  left: 0px;
  position: absolute;
  z-index: 4;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
}

#cancel-comment-reply-link {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgb(230, 229, 229);
  border: 1px solid rgb(219, 219, 219);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-transform: uppercase;
  padding: 3px 5px;
  line-height: 1em;
  position: relative;
  top: -3px;
  margin-left: 3px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  opacity: 0.8;
  font-size: 60% !important;
  background-position: initial initial;
  background-repeat: initial initial;
}

.sm-text,
.edd-cart-ajax-alert {
  font-size: 90%;
}

.xxl-text {
  font-size: 130%;
}

.weight500 {
  font-weight: 500;
}

.text-decoration-none {
  text-decoration: none;
}

.break-word {
  word-wrap: break-word;
}

.line-height-1 {
  line-height: 1;
}

.line-height-3 {
  line-height: 1.25;
}

.list-reset {
  list-style: none;
  padding-left: 0px;
  padding-left: 0;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.overflow-scroll {
  overflow: scroll;
}

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

.max-width-5 {
  max-width: 1200px;
}

.m0 {
  margin: 0px;
  margin: 0;
}

.mt0 {
  margin-top: 0px;
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0px;
  margin-bottom: 0;
}

.mt1 {
  margin-top: 0.5rem;
  margin-top: .5rem;
}

.mb1 {
  margin-bottom: 0.5rem;
  margin-bottom: .5rem;
}

.ml1 {
  margin-left: 0.5rem;
  margin-left: .5rem;
}

.mt2 {
  margin-top: 1.5rem;
}

.mb2 {
  margin-bottom: 1.5rem;
}

.ml2 {
  margin-left: 1.5rem;
}

.mt3 {
  margin-top: 3rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.ml3 {
  margin-left: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mxn1 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.p0 {
  padding: 0px;
  padding: 0;
}

.px0 {
  padding-left: 0px;
  padding-right: 0px;
  padding-left: 0;
  padding-right: 0;
}

.py0 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-top: 0;
  padding-bottom: 0;
}

.py1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.px1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.py2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.col-3 {
  width: 25%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 64em) {
  .lg-col-2 {
    width: 16.66667%;
  }

  .lg-col-3 {
    width: 25%;
  }

  .lg-col-6 {
    width: 50%;
  }

  .lg-col-9 {
    width: 75%;
  }
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 64em) {
  .lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-auto {
  -webkit-box-flex: 1;
  min-width: 0px;
  min-height: 0px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.relative {
  position: relative;
}

.z4 {
  z-index: 4;
}

.border-none {
  border: 0px;
  border: 0;
}

@media (min-width: 64em) {
  .lg-hide {
    display: none !important;
  }
}

@media (min-width: 64em) {
  .lg-mt0 {
    margin-top: 0px;
    margin-top: 0;
  }

  .lg-mb0 {
    margin-bottom: 0px;
    margin-bottom: 0;
  }

  .lg-ml0 {
    margin-left: 0px;
    margin-left: 0;
  }

  .lg-mb1 {
    margin-bottom: 0.5rem;
    margin-bottom: .5rem;
  }

  .lg-ml1 {
    margin-left: 0.5rem;
    margin-left: .5rem;
  }

  .lg-mt4 {
    margin-top: 4rem;
  }
}

@media (min-width: 64em) {
  .lg-px1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .lg-py1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .lg-pr2 {
    padding-right: 1.5rem;
  }

  .lg-px2 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 64em) {
  .lg-block {
    display: block;
  }

  .lg-inline-block {
    display: inline-block;
  }

  .lg-right {
    float: right;
  }
}

.black {
  color: var(--text-color);
}

.bg-white {
  background-color: rgb(255, 255, 255);
  background-color: #FFFFFF;
}